<h2>User</h2>
<% if @Userz %>
<article>
	<p>Account - <%= @Userz.username %></p>
	<p>Created - <%= @Userz.created_at %></p>
	<p>Last updated - <%= @Userz.updated_at %></p>
	<p>Edit status - <%= @Userz.edit %></p>
</article>
<%if @Userz.username !="Admin" %>
	<form action="/user/<%=@Userz.username %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete account">
	</form>
<%end %>	
<% end %>